* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-image: linear-gradient(to right, #000000a8 50%, transparent 100%), url(../../Assets/background_image.jpeg);
  background-size: 1920px 1080px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

div.sidebar {
  color: white;
  width: 20%;
  height: 100vh;
  background-color: #1B3E7B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1.5%;
  border-radius: 0 48px 48px 0;
}

div.logo {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

div.user-info {
  display: flex;
  padding-left: 10%;
  width: 50%;
  margin-bottom: 20px;
}

div.icon {
  margin-right: 10px;
}

div.menu-item {
  display: flex;
  padding: 20px 0;
  background: transparent;
  border-bottom: 2px solid white;
}

div.menu-item:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.user-info p {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

li {
  list-style-type: none;
}

li:hover {
    text-decoration: underline;
    color: white;
}

button.logout {
  margin-top: 50%;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

div.box {
  width: 60%;
  background-color: rgba(27, 61, 121, 0.7);
  ;
  margin-left: 20%;
  color: white;
  border-radius: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


div.box h1 {
  text-align: center;
  padding: 50px 10px 30px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.content {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

div.text {
  padding: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.form-group {
  display: flex;
  text-align: start;
}

div.form {
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

div.form-group {
  display: inline-block;
}

div.div {
  display: inline-block;
  text-align: start;
  justify-content: center;
}

div.div p {
  margin-left: 10px;
}

div.div input {
  width: 100%;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 10px 300px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
}

div.div input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

button.button {
  background-color: #032D76;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button.button:hover {
  background-color: #0645b3;
}

div.start-button {
  display: flex;
  justify-content: start;
  align-items: start;
}

div.end-button {
  display: flex;
  justify-content: end;
  align-items: end;
}

button.anexo {
  margin-top: 30px;
  background-color: rgba(85, 85, 85, 0.7);
  color: white;
  padding: 7px;
  width: 30%;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button.anexo:hover {
  background-color: #32EB21;
}

button.confirm {
  background-color: #032D76;
  color: white;
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
}

button.confirm:hover {
  background-color: #32EB21;
}

div.div {
  display: flex;
}

div.div div.icon {
  margin-top: 30px;
}

textarea {
  width: 100%;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
  resize: none;
  height: 100px;
}