* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: linear-gradient(to right, #000000a8 50%, transparent 100%), url(../../Assets/background_image.jpeg);
    background-size: 120rem 67.5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.box {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    margin-right: 40%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 4px solid white;
    height: 90%;
}

.sideBox {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: whitesmoke;
}

.sideBox img {
    width: 800px;
    height: 100%;
    object-fit: contain;
}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-top: 70px;
    margin-bottom: 20px;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5)
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.input-container p {
    margin-bottom: 30px;
}

span {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5)
}

input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 16px;
    background-color: #BFC3CD52;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}

input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 16px;
    background-color: #BFC3CD52;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}

input[type="text"]::placeholder {
    color: hsla(0, 0%, 100%, 0.85);
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

input[type="password"]::placeholder {
    color: hsla(0, 0%, 100%, 0.85);
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

div.radio-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

input[type="radio"] {
    appearance: none; /* Remove o estilo padrão do rádio */
    width: 30px;
    height: 30px;
    border: 4px solid white;
    border-radius: 50%; /* Deixa o botão circular */
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked {
    background-color: #32EB21; /* Cor verde quando marcado */
}

label.radio-group {
    display: flex;
    align-items: center; /* Alinha o texto verticalmente ao centro do rádio */
    gap: 10px; /* Espaço entre o botão de rádio e o texto */
    margin-left: 10px;
}

label.radio-group span {
    font-size: 1rem;
    font-style: italic;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    margin-right: 10px; /* Espaço entre o texto e o botão */
}

.link-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: underline red;
    transition: 1s;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

button {
    width: 100%;
    height: 60px;
    font-weight: bold;
    background-color: #97989A;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.6rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}

button:hover {
    background-color: #32EB21; /* adição do verde assim que passamos o mouse no botão de confirmação */
    transition: 0.3s;
}

button:active {
    background-color: #c2c2c4;
    transition: 0.3s;
}