* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-image: linear-gradient(to right, #000000a8 50%, transparent 100%), url(../../Assets/background_image.jpeg);
  background-size: 1920px 1080px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

div.sidebar {
  color: white;
  width: 20%;
  height: 100vh;
  background-color: #1B3E7B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1.5%;
  border-radius: 0 48px 48px 0;
}

div.logo {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

div.user-info {
  display: flex;
  padding-left: 10%;
  width: 60%;
  margin-bottom: 20px;
}

div.icon {
  margin-right: 10px;
}

div.menu-item {
  display: flex;
  padding: 20px 0;
  background: transparent;
  border-bottom: 2px solid white;
}

div.menu-item:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.user-info p {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

li {
  list-style-type: none;
}

li:hover {
    text-decoration: underline;
    color: white;
}

button.logout {
  margin-top: 93%;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
  
div.box {
    width: 60%;
    background-color: rgba(27, 61, 121, 0.7);;
    margin-left: 20%;
    color: white;
    border-radius: 24px;
    text-align: center;
}

h2 {
    text-align: start;
    padding: 5px;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h2.dois {
    text-align: center;
    padding: 5px;
    color: rgb(224, 224, 224);
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.box h1 {
    text-align: center;
    padding: 70px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.content {
    display: inline-block;
    justify-content: center;
    align-items: center;
}


div.form-group {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 20px 0;
    margin-bottom: 50px;
}

div.radio-section {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 20px 0;
    margin-bottom: 50px;
}

div.radio-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

input[type="radio"] {
    appearance: none; /* Remove o estilo padrão do rádio */
    width: 30px;
    height: 30px;
    border: 4px solid white;
    border-radius: 50%; /* Deixa o botão circular */
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked {
    background-color: #32EB21; /* Cor verde quando marcado */
}

label.radio-group {
    display: flex;
    align-items: center; /* Alinha o texto verticalmente ao centro do rádio */
    gap: 10px; /* Espaço entre o botão de rádio e o texto */
    margin-left: 10px;
}

label.radio-group span {
    font-size: 1.6rem;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    margin-right: 10px; /* Espaço entre o texto e o botão */
}

button.confirmar {
    background-color: #032D76;
    color: white;
    border: rgba(255, 255, 255, 0.60) 2px solid;
    padding: 10px;
    width: 40%;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button.confirmar:hover {
    background-color: #32EB21;
}

div.div {
    display: flex;
}

div.div div.icon {
    margin-top: 30px;
}