.notification-list {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification-item {
    background: #BFC3CD52;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.notification-item:hover {
    background: #d0d3db52;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #BFC3CD52;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-right: 20px;
    color: white;
}

.text strong {
    color: white;
    font-size: 1.2rem;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.text p {
    color: #ccc;
    font-size: 0.9rem;
    margin-top: 5px;
}

.back-button {
    width: 100%;
    height: 50px;
    font-weight: bold;
    background-color: #1B4998;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 40px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.back-button:hover {
    background-color: #143670;
}

.back-button:active {
    background-color: #005eff;
}