* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: linear-gradient(to right, #000000a8 50%, transparent 100%), url(../../Assets/background_image.jpeg);
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

div.sidebar {
    color: white;
    width: 20%;
    height: 100vh;
    background-color: #1B3E7B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1.5%;
    border-radius: 0 48px 48px 0;
}

div.logo {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}

img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

div.user-info {
    display: flex;
    padding-left: 10%;
    width: 50%;
    margin-bottom: 20px;
}

div.icon {
    margin-right: 10px;
}

div.menu-item {
    display: flex;
    padding: 20px 0;
    background: transparent;
    border-bottom: 2px solid white;
}

div.menu-item:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.user-info p {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    color: white;
}

button.logout {
    margin-top: 50%;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

div.box {
    width: 60%;
    background-color: rgba(27, 61, 121, 0.7);
    margin-left: 20%;
    color: white;
    border-radius: 24px;
}

div.box h1 {
    text-align: center;
    padding: 40px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.mini-header {
    display: flex;
    justify-content: space-between;
}

div.mini-header p {
    text-align: left;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    /* Alinha o texto e o quadrado verticalmente */
    gap: 5px;
}

.square {
    width: 10px;
    /* Tamanho do quadrado */
    height: 10px;
    border-radius: 2px;
    /* Deixe quadrado ou arredonde um pouco */
    display: inline-block;
    border: 1px solid white;
}

.square.available {
    background-color: #32EB21;
    /* Cor para "Disponível" */
}

.square.unavailable {
    background-color: #2B5CBE;
    /* Cor para "Indisponível" */
}

div.mini-header h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

div.mini-header a {
    font-size: 1rem;
    padding: 3px;
}

div.calendar {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #032D76;
    margin: 20px 15px 100px 50px;
    padding: 20px;
}

div.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

div.day {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1rem;
}

div.day p {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
}

button.available {
    color: white;
    padding: 20px;
    background-color: #32EB21;
    border: none;
    cursor: pointer;
}

button.available:hover {
    background-color: #1f8815;
    transition: 0.3s ease;
}

button.unavailable {
    color: white;
    padding: 20px;
    background-color: rgba(145, 165, 205, 0.8);
    border: none;
}

button.analysis {
    color: white;
    padding: 20px;
    background-color: #DFB719;
    border: none;
}

button:disabled {
    cursor: not-allowed;
}

div.company-info {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #032D76;
    margin: 20px 50px 100px 15px;
    padding: 20px;
}

div.company-info h2 {
    text-align: left center;
    font-size: 1.6rem;
    font-weight: bold;
}

div.form-box {
    justify-self: center;
    text-align: left;
    width: 90%;
    height: 50%;
    padding: 20px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.form-box p {
    font-size: 1rem;
}

div.form-box input {
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    padding: 10px;
    border: 2px solid white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button.marcar-submit {
    justify-self: center;
    color: white;
    margin-top: 15px;
    font-size: 1rem;
    width: 70%;
    background-color: #032D76;
    border-radius: 24px;
    padding: 12px;
    border: 2px solid #ffff;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

button.marcar-submit:hover {
    background-color: #32EB21; /* adição do verde assim que passamos o mouse no botão de confirmação */
    transition: 0.3s ease;
}