* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1B4998;
}

.box {
    background-color: #fff;
    border-radius: 24px;
    width: 61.56rem;
    height: 42.25rem;
}

.box h1 {
    text-align: center;
    color: #E92435;
    padding: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 2.5rem;
    text-shadow: 0px 3px 10px #535353;
}

.backBox {
    display: flex;
    justify-self: left;
}

.logoBox {
    display: flex;
    justify-self: center;
    width: 250px;
    height: 175px;
}

.logo {
    width: 250px;
    height: 175px;
    object-fit: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 19.43rem;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2rem;
    border: 2px solid #E92435;
    border-radius: 8px;
    box-shadow: 0px 3px 10px #535353;;
}

input:focus {
    outline: none;
    border: 2px solid #FAE928;;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
}

.input-container .icon {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #1B4998;
}

form p {
    color: #1B4998;
    font-size: 1.2rem;
    margin: 10px 0;
    text-shadow: 0px 3px 10px #535353;
}

form a {
    color: #1B4998;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
}

button {
    width: 15.688rem;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2rem;
    border: 2px solid #fff;
    background-color: #E92435;
    color: #fff;
    font-weight: bold;
    border-radius: 16px;
    box-shadow: 0px 3px 10px #535353;
    cursor: pointer;
}


