* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: linear-gradient(to right, #000000a8 50%, transparent 100%), url(../../Assets/background_image.jpeg);
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.box {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background: #A0C8ED30;
    border-radius: 32px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

div.avatar-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

div.avatar {
    width: 200px; /* Define uma largura fixa */
    height: 200px; /* Define uma altura fixa */
    border-radius: 50%; /* Mantém o formato circular */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
}

div.avatar img {
    width: 100%; /* Faz a imagem ocupar toda a largura da div */
    height: 100%; /* Faz a imagem ocupar toda a altura da div */
    text-align: center;
    object-fit: cover; /* Garante que a imagem seja cortada para caber no círculo */
}

.input-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 10px;
}

h1 {
    font-size: 3rem;
    margin-top: 30px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5)
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 70px;
}


.input-container p {
    margin-bottom: 30px;
}

span {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5)
}

input {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 16px;
    background-color: #BFC3CD52;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
}

select {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 16px;
    background-color: #BFC3CD52; /* Cor de fundo */
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    appearance: none;
    cursor: pointer;
}

select option {
    background-color: #97989A; /* Cor de fundo das opções */
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

select option:hover {
    background-color: #032D76; /* Cor de fundo ao passar o mouse */
    color: white;
}

input[type="time"] {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 16px;
    background-color: #BFC3CD52;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.link-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: underline white;
    transition: 1s;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-top: 20px;
}

button {
    width: 100%;
    height: 60px;
    font-weight: bold;
    background-color: #BFC3CD52;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
}

button:hover {
    background-color: #32EB21;
    transition: 0.3s;
}

button:active {
    background-color: #c2c2c4;
    transition: 0.3s;
}