* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: linear-gradient(to right, #000000a8 50%, transparent 100%), url(../../Assets/background_image.jpeg);
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

div.sidebar {
    color: white;
    width: 20%;
    height: 100vh;
    background-color: #1B3E7B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1.5%;
    border-radius: 0 48px 48px 0;
}

div.logo {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}

img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

div.user-info {
    display: flex;
    padding-left: 10%;
    width: 60%;
    margin-bottom: 20px;
}

div.icon {
    margin-right: 10px;
}

div.menu-item {
    display: flex;
    padding: 20px 0;
    background: transparent;
    border-bottom: 2px solid white;
}

div.menu-item:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.user-info p {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    color: white;
}

button.logout {
    margin-top: 93%;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

div.box {
    width: 60%;
    background-color: rgba(27, 61, 121, 0.7);
    ;
    margin-left: 20%;
    color: white;
    border-radius: 24px;
    text-align: center;
}

div.box h1 {
    text-align: center;
    padding: 70px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.avatar-box {
    padding: 20px;
    margin-bottom: 200px;
}

div.avatar-box .alterar-foto-link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

div.avatar-box .alterar-foto-link:hover {
    text-decoration: underline;
    color: white;
}

div.avatar {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

div.form {
    width: 70%;
}

div.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.div {
    text-align: start;
    padding: 10px;
}

div.div input {
    width: 100%;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
}

div.div input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

div.submit-button {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 75%;
}

div.submit-button button {
    background-color: #1B3E7B;
    ;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    padding: 15px 55px;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

div.submit-button button:hover {
    background-color: #32EB21;
    /* adição do verde assim que passamos o mouse no botão de confirmação */
    transition: 0.3s ease;
}